body{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;

}

p{
    text-align:center;
    font-size:20px;
}

h1{
    text-align:center;
}

h2{
    text-align:center;
}

.Logo {
    width:85%;
    height:260px;
    background-color: yellow;
    /*border: 3px solid goldenrod;*/

}

.Civics_Program_Logo{
        width: 100%;
        max-width: 200px;
        height: auto;
        float:right;
        /*border: 3px solid goldenrod;*/
}

a:visited { text-decoration: none; color:blue; }
a:hover, a:active { text-decoration: none; color:black }

#extracurriculars {
    margin-left: auto;
    margin-right: auto;    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    height:60%
  }
  
  #extracurriculars td, #extracurriculars th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #custoextracurricularsmers tr:nth-child(even){background-color: #f2f2f2;}
  
  #extracurriculars tr:hover {background-color: #ddd;}
  
  #extracurriculars th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
  }